<!-- ko if: ($root.rpi_inputs_temperature_sensors().length > 0)  -->
<div class="row-fluid">
    <h4>Temperature</h4>
    <!-- <pre data-bind="text: ko.toJSON($root.rpi_inputs_pm25_sensors(), null, 2)"></pre> -->
    <table id="enclosure-table" class="table table-bordered table-hover">
        <tbody>
            <tr>
                <th class="temperature_sensor"></th>
                <th class="temperature_actual" title="{{ _('Current actual PM25 value as reported by your sensor') }}">{{ _('PM25') }}</th>
                <th class="humidity_actual" title="{{ _('Current humidity') }}">{{ _('Humidity') }}</th>
                <th class="temp_hum_control">{{ _('Control') }}</th>
                <th class="temperature_target" title="{{ _('Current target temperature') }}">{{ _('Target') }}</th>
            </tr>

            <!-- ko foreach: $root.rpi_inputs_pm25_sensors() -->
            <tr>
                <th class="temperature_sensor" data-bind="text: label, attr: {title: label, rowspan: $root.calculateRowSpan(index_id)}"></th>
                <td class="temperature_actual" data-bind="attr: {rowspan: $root.calculateRowSpan(index_id)}">
                    <span data-bind="text: temp_sensor_temp, attr: {title: temp_sensor_temp}"> </span>
                </td>
                <td class="humidity_actual" data-bind="attr: {rowspan: $root.calculateRowSpan(index_id)}">
                    <span data-bind="text: temp_sensor_humidity, attr: {title: temp_sensor_humidity}"> </span>
                    <span class="add-on">%</span>
                </td>

                <td class="humidity_actual" data-bind="attr: {rowspan: $root.calculateRowSpan(index_id)}">N/A</td>
            </tr>

            <!-- /ko -->
        </tbody>
    </table>
</div>
<!-- /ko -->
