<!-- ko if: ($root.rpi_inputs_temperature_sensors().length > 0)  -->
<div class="row-fluid">
    <h4>Temperature</h4>
    <!-- <pre data-bind="text: ko.toJSON($root.rpi_inputs_temperature_sensors(), null, 2)"></pre> -->
    <table id="enclosure-table" class="table table-bordered table-hover">
        <tbody>
            <tr>
                <th class="temperature_sensor"></th>
                <th class="temperature_actual" title="{{ _('Current actual temperature as reported by your sensor') }}">{{ _('Temperature') }}</th>
                <!-- ko if: ($root.hasAnySensorWithHumidity())  -->
                <th class="humidity_actual" title="{{ _('Current humidity') }}">{{ _('Humidity') }}</th>
                <!-- /ko -->
                <!-- ko if: ($root.hasAnyTemperatureControl())  -->
                <th class="temp_hum_control">{{ _('Control') }}</th>
                <th class="temperature_target" title="{{ _('Current target temperature') }}">{{ _('Target') }}</th>
                <!-- /ko -->
            </tr>

            <!-- ko foreach: $root.rpi_inputs_temperature_sensors() -->
            <tr>
                <th class="temperature_sensor" data-bind="text: label, attr: {title: label, rowspan: $root.calculateRowSpan(index_id)}"></th>
                <td class="temperature_actual" data-bind="attr: {rowspan: $root.calculateRowSpan(index_id)}">
                    <span data-bind="text: temp_sensor_temp, attr: {title: temp_sensor_temp}"> </span>
                    <!-- ko if: (use_fahrenheit())  -->
                    <span class="add-on">&deg;F</span>
                    <!-- /ko -->
                    <!-- ko ifnot: (use_fahrenheit())  -->
                    <span class="add-on">&deg;C</span>
                    <!-- /ko -->
                </td>
                <!-- ko if: ($root.humidityCapableSensor(temp_sensor_type()))  -->
                <td class="humidity_actual" data-bind="attr: {rowspan: $root.calculateRowSpan(index_id)}">
                    <span data-bind="text: temp_sensor_humidity, attr: {title: temp_sensor_humidity}"> </span>
                    <span class="add-on">%</span>
                </td>
                <!-- /ko -->

                <!-- ko if: ($root.hasAnySensorWithHumidity())  -->
                <!-- ko ifnot: ($root.humidityCapableSensor(temp_sensor_type()))  -->
                <td class="humidity_actual" data-bind="attr: {rowspan: $root.calculateRowSpan(index_id)}">N/A</td>
                <!-- /ko -->
                <!-- /ko -->

                <!-- ko if: ($root.linkedTemperatureControl(index_id())().length > 0 || $root.hasAnyTemperatureControl())  -->
                <!-- ko with:  $root.linkedTemperatureControl(index_id())()[0] -->
                <th class="temp_hum_control" data-bind="html: label, attr: {title: label}"></th>
                <td class="temperature_target">
                    <form class="form-inline" style="margin:0" data-bind="submit: function(element) { $root.setTemperature($data, element) }">
                        <div class="input-append">
                            <input type="number" min="0" max="999" class="input-mini input-nospin" data-bind="enable: $root.isUser(), value: temp_ctr_new_set_value, valueUpdate: 'input', attr: {placeholder:$root.getCleanTemperature(temp_ctr_set_value()), id: 'temp_control_' + index_id()}">
                            <!-- ko if: ($data.temp_ctr_type() == "heater" || $data.temp_ctr_type() == "cooler")  -->
                            <!-- ko if: ($parent.use_fahrenheit())  -->
                            <span class="add-on">&deg;F</span>
                            <!-- /ko -->
                            <!-- ko ifnot: ($parent.use_fahrenheit())  -->
                            <span class="add-on">&deg;C</span>
                            <!-- /ko -->
                            <!-- /ko -->
                            <!-- ko if: ($data.temp_ctr_type() == "dehumidifier")  -->
                            <span class="add-on">%</span>
                            <!-- /ko -->
                        </div>
                        <div class="btn-group">
                            <button type="submit" data-bind="enable: $root.isUser()" class="btn btn-primary" title="{{ _('Set') }}">
                                <i class="fa fa-check"></i>
                            </button>
                            <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown" data-bind="enable: $root.isUser()">
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="javascript:void(0)" data-bind="enable: $root.isUser(), click: $root.turnOffHeater">{{ _('Off') }}</a>
                                </li>
                            </ul>
                        </div>
                    </form>
                </td>
                <!-- /ko -->
                <!-- /ko -->

                <!-- ko if: ($root.hasAnyTemperatureControl())  -->
                <!-- ko if: ( !$root.linkedTemperatureControl(index_id())().length > 0)  -->
                <td class="temp_hum_control"></td>
                <td class="temperature_target"></td>
                <!-- /ko -->
                <!-- /ko -->
            </tr>

            <!-- ko if: ($root.hasAnyTemperatureControl())  -->
            <!-- ko foreach: $root.linkedTemperatureControl(index_id())-->
            <!-- ko ifnot: ($index() ==  0)  -->
            <tr>
                <th class="temp_hum_control" data-bind="html: label, attr: {title: label}"></th>
                <td class="temperature_target">
                    <form class="form-inline" style="margin:0" data-bind="submit: function(element) { $root.setTemperature($data, element) }">
                        <div class="input-append">
                            <input type="number" min="0" max="999" class="input-mini input-nospin" data-bind="enable: $root.isUser(), value: temp_ctr_new_set_value, valueUpdate: 'input', attr: {placeholder:$root.getCleanTemperature(temp_ctr_set_value()), id: 'temp_control_' + index_id()}">
                            <!-- ko if: ($data.temp_ctr_type() == "heater" || $data.temp_ctr_type() == "cooler")  -->
                            <!-- ko if: ($parent.use_fahrenheit())  -->
                            <span class="add-on">&deg;F</span>
                            <!-- /ko -->
                            <!-- ko ifnot: ($parent.use_fahrenheit())  -->
                            <span class="add-on">&deg;C</span>
                            <!-- /ko -->
                            <!-- /ko -->
                            <!-- ko if: ($data.temp_ctr_type() == "dehumidifier")  -->
                            <span class="add-on">%</span>
                            <!-- /ko -->
                        </div>
                        <div class="btn-group">
                            <button type="submit" data-bind="enable: $root.isUser()" class="btn btn-primary" title="{{ _('Set') }}">
                                <i class="fa fa-check"></i>
                            </button>
                            <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown" data-bind="enable: $root.isUser()">
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="javascript:void(0)" data-bind="enable: $root.isUser(), click: $root.turnOffHeater">{{ _('Off') }}</a>
                                </li>
                            </ul>
                        </div>
                    </form>
                </td>
            </tr>
            <!-- /ko -->
            <!-- /ko -->
            <!-- /ko -->

            <!-- /ko -->
        </tbody>
    </table>
</div>
<!-- /ko -->
