<h4>{{ _('Raspberry Pi Inputs') }}</h4>
<p>
  Configure all
  <strong>inputs</strong>. Inputs get data from gpio or connected sensors to provide additional functionality. Inputs can control
  outputs or influence how they behave.
</p>
<p>
  Example of possible inputs are buttons connected to GPIO pins that control outputs or printer events, temperature and humidity
  sensors, and filament sensors.
</p>
<form class="form-horizontal">
  <div data-bind="foreach: settingsViewModel.settings.plugins.enclosure.rpi_inputs">
    <div class="control-group">
      <label class="control-label">{{ _('Index') }}</label>
      <div class="controls">
        <input type="text" class="input-block-level" data-bind="value: index">
        <span class="help-inline">Name of Input</span>
      </div>
    </div>
      <div class="control-group">
      <label class="control-label">{{ _('Label') }}</label>
      <div class="controls">
        <input type="text" class="input-block-level" data-bind="value: label">
        <span class="help-inline">Class of Input</span>
      </div>
    </div>
  </div>
  <div class="control-group">
    <button class="btn pull-right" data-bind="click: function() { $root.addRpiInput(); }">Add Inputs...</button>
  </div>
</form>
